[submodule "config/dracula-zsh"]
	path = config/dracula-zsh
	url = https://github.com/dracula/zsh.git
[submodule "config/dracula-terminal"]
	path = config/dracula-terminal
	url = https://github.com/dracula/terminal-app.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh.stow/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
