[submodule "config/dracula-zsh"]
	path = dracula/dracula-zsh
	url = https://github.com/dracula/zsh.git
[submodule "config/dracula-terminal"]
	path = dracula/dracula-terminal
	url = https://github.com/dracula/terminal-app.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh.stow/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "dracula/dracula-iterm2"]
	path = dracula/dracula-iterm2
	url = https://github.com/dracula/iterm.git
